.carrousel{
    display: flex;
    width: 500vw;
    height: 20vh;
    transition: transform .5s;
margin-bottom: 5px;

    div{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
       //arrières-plans
        &:nth-of-type(1){
            background-color: rgb(190, 67, 67);
           
        }
        &:nth-of-type(2){
            background-color: rgb(77, 190, 67);
        } &:nth-of-type(3){
            background-color: rgb(67, 90, 190);            

        }&:nth-of-type(4){
            background-color: rgb(255, 0, 157);            

        }&:nth-of-type(5){
            background-color: rgb(251, 255, 0);            
            a{
                color: black;
            }
        }
        //Changement de la taille des polices
        a{
            font-size:xx-large;
            color:white;
            font-family: 'Ubuntu', sans-serif;

        }
    }
}
//Animation des boutons
button{
    border:none;
}
#un{
    animation: un 0.5s both;
    background-color: rgb(190, 67, 67);
}
#deux{
    animation: deux 0.5s both;
    animation-delay: 0.25s;
    background-color: rgb(77, 190, 67);
}
#trois{
    animation: trois 0.5s both;
    animation-delay: 0.5s;
    background-color: rgb(67, 90, 190);  
    color: white;          
}
#quatre{
    animation: quatre 0.5s both;
    animation-delay: 0.75s;
    background-color: rgb(255, 0, 157);            

}#cinq{
    animation: cinq 0.5s both;
    animation-delay: 1s;
    background-color: rgb(251, 255, 0);            
}

@keyframes un{
0%{
    transform: translateX(-2000px);
}100%{
    transform: translateX(0px);
}
}
@keyframes deux{
    0%{
        transform: translateX(-2000px);
    }100%{
        transform: translateX(0px);
    }
    }
    @keyframes trois{
        0%{
            transform: translateX(-2000px);
        }100%{
            transform: translateX(0px);
        }
        }
        @keyframes quatre{
            0%{
                transform: translateX(-2000px);
            }100%{
                transform: translateX(0px);
            }
            }
            @keyframes cinq{
                0%{
                    transform: translateX(-2000px);
                }100%{
                    transform: translateX(0px);
                }
                }