body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	//Cacher le défilement horizontal
	overflow-x: hidden;
}
//Empêcher le défilement en mode tablette
@media screen and (max-width:768px){
	body{
	overflow-x: hidden;
	}
}